<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <header class="glass-effect">
    {% include 'includes/nav.html' %}
    </header>

    <main>
    {% block content %} {% endblock %}
    </main>

    <footer class="glass-effect">
    {% include 'includes/footer.html' %}
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>